@media screen and (max-width: 1100px) {
    
.right-content h1{
    font-size: 2rem;
}

.right-content p{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.925rem;
}
}

@media screen and (max-width: 900px) {
  
body{
    background: url(/img/bg-mobile.svg) no-repeat top;
    background-size: contain;
    background-color: var(--violet);
}

main{
    display: flex;
    flex-direction: column;
}

.right-content h1{
    /* padding: 0 2rem; */
    max-width: none;
    text-align: center;
}

.right-content p{
    text-align: center;
}

.register-container{
    text-align: center;
}

.register-container a{
    padding: 0.6rem 5rem;
}

.socials-container{
    justify-content: center;
}
}

@media screen and (max-width: 500px) {

    header a img{

        width: 270px;
    }

    .right-content h1{
        font-size: 1.5rem;
    }
    }


@media screen and (max-width: 375px) {

main{
    padding: 0 2.5rem;
}

.header a img{
    padding: 2rem 0 0 0;
}

.left-content img{
    max-width: 300px;
}

.right-content h1{
    font-size: 1.4rem;
}

.right-content p{
    font-size: 0.8rem;
}

.register-container a{
    font-size: 0.825rem;
}
}